table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
}
.d-block {
    display: block;
}

.d-none {
    display: none;
}
.results {
    margin: 0 auto;
    max-width: 980px;
}
.max_result {
    background-color: yellow;
}
.dark {
    color: #fff;
    background-color: darkblue;
}

.light {
    color: #000;
    background-color: lightblue;
}
.avatar {
    max-width: 200px;
    max-height: 300px;
}
img {
    width: 100%;
    object-fit: cover;
}